{{define "index/home" }}
  <html lang="en">
  <head>
    <link rel="stylesheet" href="/assets/css/bootstrap.css">
    <meta charset="UTF-8">
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">Gophr</a>
        </div>
        <div class="collapse navbar-collapse">
          <p class="navbar-text navbar-right">
            <a href="/register" class="navbar-link">Register</a>
          </p>
        </div>
      </div>
    </nav>
    <p>Hello</p>
  </body>
  </html>
{{end}}
